html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  color: #6c757d;
  line-height: 60px;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}
